@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Playfair+Display&family=Raleway:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
}

body {
    background: #101820FF;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.highlighted {
    color: green !important
}

#list {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #101820FF;
    border: 1px solid #FEE715FF;
}

#list li {
    border-radius: 3px;
    flex-grow: 1;
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
}

li a {
    text-decoration: none;
    display: inline-block;
}

li a:hover {
    color: #6b7b8c;
}

.listStyle a {
    color: #FEE715FF;
}

section {
    margin-top: 50px;
}

section h2 {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.sectionStyling {
    color: #FEE715FF;
}

.sectionhighlighted {
    color: green
}